header {
    background-color:  #2C384A;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
  }

  .search-bar {
    margin: auto;
    margin-left: 28%; 
  }

  input {
    flex: 1; 
    padding: 5px;
    width: 250px;
    height: 25px;
    border-radius: 10px;

  }

  .header-links {
    display: flex;
    gap: 60px; /* Adjust the spacing between links */
    margin-right: 22%; /* Adjust the margin as needed */
  }
  
  .header-links a {
    text-decoration: none;
    color: rgb(246, 245, 245); /* Set the color of the links */
  }


  @media ( min-width: 900px ) and (max-width:1210px){
    header {
      background-color:  #2C384A;;
      color: white;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 45px;
      width: 1210px;
    }

    .header-links {
      display: flex;
      gap: 60px; /* Adjust the spacing between links */
      margin-right: 20%; /* Adjust the margin as needed */
    }
    
    .header-links a {
      text-decoration: none;
      color: rgb(246, 245, 245); /* Set the color of the links */
      font-size: 12px;
      
    }

    input {
      flex: 1; 
      padding: 5px;
      width: 250px;
      height: 25px;
      border-radius: 10px;
      
    }
  
    .search-bar {
      margin: auto;
      margin-left: 27%;
      
    }
  }

  @media ( min-width: 1210px ) and (max-width : 1260px){
    header {
      background-color:  #2C384A;;
      color: white;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 45px;
      width: 1245px;
    }

    .header-links {
      display: flex;
      gap: 60px; /* Adjust the spacing between links */
      margin-right: 20%; /* Adjust the margin as needed */
    }
    
    .header-links a {
      text-decoration: none;
      color: rgb(246, 245, 245); /* Set the color of the links */
      font-size: 12px;
      
    }

    input {
      flex: 1; 
      padding: 5px;
      width: 250px;
      height: 25px;
      border-radius: 10px;
      
    }
  
    .search-bar {
      margin: auto;
      margin-left: 27%;
      
    }
  }

  @media ( min-width: 1260px ){
    header {
      background-color:  #2C384A;;
      color: white;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 45px;
      width: 1290px;
    }

    .header-links {
      display: flex;
      gap: 60px; /* Adjust the spacing between links */
      margin-right: 20%; /* Adjust the margin as needed */
    }
    
    .header-links a {
      text-decoration: none;
      color: rgb(246, 245, 245); /* Set the color of the links */
      font-size: 12px;
      
    }

    input {
      flex: 1; 
      padding: 5px;
      width: 250px;
      height: 25px;
      border-radius: 10px;
      
    }
  
    .search-bar {
      margin: auto;
      margin-left: 27%;
      
    }
  }
