header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
  }

  .search-bar {
    margin: auto;
    margin-left: 31%;
    
  }

  input {
    flex: 1; /* Take up all available space within the search bar */
    padding: 5px;
    width: 250px;
    height: 25px;
    border-radius: 10px;
  }

  .header-links {
    display: flex;
    gap: 50px; /* Adjust the spacing between links */
    margin-right: 20%; /* Adjust the margin as needed */
  }
  
  .header-links a {
    text-decoration: none;
    color: rgb(246, 245, 245); /* Set the color of the links */
  }